<h1>Listing songs</h1>
<p id="notice"><%= notice %></p>
<table>
  <tr>
    <th>Name</th>
    <th>File</th>
    <th>Active</th>
    <th>Recorded</th>
    <th>Current</th>
  </tr>

<% @songs.each do |song| %>
  <tr>
    <td><%= song.name %></td>
    <td><%= song.file %></td>
	<td><%= song.active %></td>
	<td><%= song.recorded %></td>
	<td><%= song.current %></td>
	<td>
		<% @assignments.each do |assignment| %>
			<% if assignment.song_id == song.id %>
				<%= Part.find(assignment.part_id).name %> - 
				<%= User.find(assignment.user_id).username %>
			<% end %>
		<% end %>
	</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Song', new_song_path %>