<p id="notice"><%= notice %></p>

<div id="mp3Player" data-folder="music" class="player">

	<audio id="mp3Player-player">
		<source id="mp3Player-mp3" src="" />
		<p class="no-html5">Your browser doesn\'t support HTML5 audio</p>
	</audio>

	<div id="mp3Player-controls" class="mp3Player-group playerControls">
		<div id="mp3Player-buttons-container">
			<button id="mp3Player-prev" class="mp3controls disabled">Prev</button>
			<div id="mp3Player-play-pause">
				<button id="mp3Player-play" class="mp3controls">Play</button>
				<button id="mp3Player-pause" class="mp3controls display-off">Pause</button>
			</div>
			<button id="mp3Player-next" class="mp3controls disabled">Next</button>
		</div>

		<div id="mp3Player-progress-container" class="mp3Player-group progressContainer">
			<span id="mp3Player-currentTime"></span>
			<div id="mp3Player-progress" class="loaded"></div>
			<span id="mp3Player-remainingTime"></span>
		</div>

		<div id="mp3Player-volume-container" class="mp3Player-group">
			<span id="mp3Player-min-volume"></span>
			<div id="mp3Player-volume"></div>
			<span id="mp3Player-max-volume"></span>
		</div>
	</div>

	<table id="mp3Player-table">
		<thead>
		<tr>
			<th>Song</th>
			<th>Part(s)</th>
		</tr>
		</thead>
		<tbody>
		<tr class="song" data-file="<%= @song.file %>">
			<td class="name"><%= @song.name %></td>
		</tr>
	</table>
	</tbody>
</div>


<div class="users">
	<ul>
<% if @assignments && @assignments.size != 0 %>
<% @assignments.each do |assignment| %>
<% if assignment.song_id == @song.id && assignment.user_id != 1 %>
<li class="assignment">
	<span class="part"><%= part(assignment.part_id) %></span>
	<% @users.each do |user| %>
		<% if user.id == assignment.user_id %>
			<span class="part"><%= link_to(user.username, user_path(user)) %></span>
		<% end %>
	<% end %>
</li>
<% end %>
<% end %>
<% end %>
	</ul>
</div>

<div class="comments">
	<h2><span class="number"><%= @songcomments.size %></span> Comments on <span class="song"><%= @song.name %></span></h2>
	<ul>
		<% @songcomments.each do |songcomment| %>
		<li>
			<% @users.each do |user| %>
			<% if user.id == songcomment.user_id %>
			<h3 class="byline"><span class="date"><%= songcomment.created_at %></span> By <span class="user"><%= user.username %></span></h3>
			<% end %>
			<% end %>
			<div class="comment-body">
				<%= songcomment.content %>
			</div>					
		</li>
		<% end %>
	</ul>
</div>
