<!DOCTYPE html>
<html>
<head>
  <title>Stranger Danger</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	<header>
		<hgroup>
			<h1><%= link_to("Stranger Danger", "/") %></h1>
			<h2>A NYC Music Co-op</h2>
		</hgroup>
		
		<% if current_user %>
	    <%= link_to current_user.username, edit_user_path(current_user.id)%> | 
	    <%= link_to "Logout", :logout%>
		<% end %>
	
		<%= checkadmin(current_user) %>	
		
	</header>

<%= yield %>

<footer>
	<%= link_to("contact: info@strangerdanger.com", "mailto:info@strangerdanger.com") %>
	<span class="copyright">&copy; 2011</span>
</footer>

</body>
</html>

