<!DOCTYPE html>
<html>
<head>
  <title>Stranger Danger</title>
  <%= stylesheet_link_tag :all %>
  <script type="text/javascript" charset="utf-8">var ROOT_PATH = "<%= root_path %>";</script>
  <%= javascript_include_tag "jquery.min" %>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  <%= javascript_include_tag "jquery.livequery" %>
  <%= javascript_include_tag "jquery_ujs" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "mp3player" %>
  <%= csrf_meta_tag %>
</head>
<body>
	<header>
		<hgroup>
			<h1><%= link_to("Stranger Danger", "/") %></h1>
			<h2>A NYC Music Co-op</h2>
		</hgroup>
		
		<% if checkusers(current_user) %>	
			<%= link_to(current_user.username, edit_user_path(current_user.id)) %> | 
		    <%= link_to("Logout", :logout) %> |
		 	<% if request.path_parameters[:action] != "backyard" %>
				<%= link_to("Backyard", backyard_path, :class => "backyard-link") %> |
			<% end %>
			<% if checkadmin(current_user) %>
		  		 <%= link_to("Admin Section", admin_path) %>
			<% end %>
		<% end %>
		
	</header>

<%= yield %>

<footer>
	<span class="contact">contact: <%= link_to("info@strangerdanger.com", "mailto:info@strangerdanger.com") %></span>
	<span class="copyright">&copy; 2011</span>
</footer>

</body>
</html>

